@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f1f1f1
}

.main {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 30%;
    margin-left: 73px;
}

.menu {
    width: 60%;
}

.logo {
    width: 50%;
}

.menu ul li {
    display: inline-block;
    padding: 52px 20px;
    list-style: none;
    position: relative;
}

.menu ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu ul li:hover::after {
    width: 100%;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.links {
    width: 10%;
    margin-top: 54px;
}

.links a {
    padding-right: 15px;
    color: black;
    transition: 0.3s;
}

.links a:hover {
    color: #fb5200;
}

.first {
    display: flex;
    padding: 20px 30px 0px 70px;
    background-image: url(background.png);
    background-size: cover;
}

.text h1 {
    font-size: 60px;
    margin-bottom: 15px;
    line-height: 118px;
}

span.highlight {
    color: #fb5200;
}

.text {
    width: 50%;
}

.text h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.text p {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.img {
    width: 50%;
}

.img img {
    width: 80%;
    margin-left: 20%;
}

.text a {
    border: none;
    padding: 10px 41px;
    color: #fff;
    background: linear-gradient(45deg, #ecb2a2, #f7614d);
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.5s;
}

.text a:hover {
    background: linear-gradient(45deg, #f7614d, #f1bbac);
}

.secound {
    display: flex;
    padding: 20px 30px 0px 70px;
    margin-top: 100px;
    background-image: url(dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.img-2 img {
    width: 80%
}

.third {
    margin-top: 100px;
    padding: 20px 30px 0px 70px;
    background-image: url(exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    width: 100%;
}

.first-box {
    width: 50%;
    border-left: 8px solid #FF6347;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 5px -5px 30px rgb(139, 136, 136);
}

.first-box h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.first-box h3 {
    font-size: 20px;
    color: #Fb5200;
    margin-bottom: 15px;
}

.first-box p {
    color: #333;
    line-height: 30px;
}

.secound-box {
    width: 50%;
    border-left: 8px solid #0000FF;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 5px -5px 30px rgb(139, 136, 136);
}

.secound-box h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.secound-box h3 {
    font-size: 20px;
    color: #Fb5200;
    margin-bottom: 15px;
}

.secound-box p {
    color: #333;
    line-height: 30px;
}

.headline h1 {
    font-size: 50px;
}

.headline {
    margin-bottom: 15px;
}

footer {
    margin: 18% 0px 23px;
}

footer p {
    text-align: center;
    color: #333;
}